/* Global Styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #333;
}

/* Sign-up Container */
.sign-up-container {
  margin: 5rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  border-radius: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  max-width: 900px;
  width: 90%;
}

/* Card Styling */
.sign-up-card {
  flex: 1;
  padding: 2rem;
  text-align: center;
}

.sign-up-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #4059ad;
  font-family: "Fredoka", serif;
}

.sign-up-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input-field {
  padding: 0.8rem;
  font-size: 1rem;
  border: 2px solid #ccc;
  border-radius: 10px;
  transition: border-color 0.3s ease-in-out;
}

.input-field:focus {
  outline: none;
  border-color: #5e60ce;
}

.btn-primary {
  margin: 0 auto;
  padding: 0.8rem;
  font-size: 1rem;
  color: white;
  background-color: #5e60ce;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  width: 100%;
  max-width: 300px;
}

.btn-primary:hover {
  background-color: #3a42a8;
}

.hidden-modal {
  display: none;
}

.modal {
  text-align: center;
  color: rgb(21, 204, 15);
  font-weight: bold;
}

.alreadyCreated {
  text-align: center;
  color: rgb(230, 18, 18);
  font-weight: bold;
}

.hidden-alreadyCreated {
  display: none;
}

.haveAccount {
  padding: 0.8rem;
  font-size: 1rem;
  color: #5e60ce;
  background-color: white;
  border: 2px solid #5e60ce;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

.haveAccount:hover {
  background-color: #f0f0ff;
}

/* Media Queries for Responsive Design */
@media screen and (max-width: 768px) {
  .sign-up-container {
    flex-direction: column;
    margin: 2rem auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .sign-up-card {
    padding: 1.5rem;
  }

  .sign-up-title {
    font-size: 1.8rem;
  }

  .btn-primary {
    width: 100%;
    max-width: 100%;
  }
}
