html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: linear-gradient(135deg, #f8d7ff, #b2f0ff);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  color: #333;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

#root {
  --purple: #5e60ce;
  --cardHover: #7476df;
  --titlesColor: #5e60ce;
}

#statsBar {
  display: flex;
  justify-content: space-around;
  color: white;
  background-color: var(--purple);
  padding: 1.5rem;
  font-weight: bold;
}

#statsBar p {
  margin-top: 15px;
  color: white;
}

.Home {
  width: 55px;
  cursor: pointer;
}

* {
  margin: 0;
  box-sizing: border-box;
}

footer {
  text-align: center;
  font-family: "Poppins", serif;
  font-size: 12px;
}

@media (min-width: 768px) {
  .Home {
    width: 45px;
  }

  footer {
    margin-top: 50px;
    margin-bottom: 20px;
  }
}
