h1 {
  font-family: "Poppins", "Arial", sans-serif;
}

#dailyQuiz,
.gameCard {
  font-family: "Fredoka", "Arial", sans-serif;
}

#title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(255, 255, 255, 0.459);
  border-radius: 40px;
  border: solid 3px var(--purple);
  font-size: 22px;
  width: 90%;
  padding: 1.5rem;
}

#title h1 {
  font-size: 25px;
  color: var(--titlesColor);
}

#gamesList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  width: 180px;
  margin: 0 auto;
}

.gameCard {
  background-color: var(--purple);
  font-size: 20px;
  padding: 2rem;
  text-align: center;
  border-radius: 20px;
  transition: 0.5s;
  border: solid 2px var(--purple);
}

#dailyQuiz {
  margin: 0 auto;
  display: flex;
  margin-top: 2rem;
  flex-direction: column;
  align-items: center;
  color: var(--titlesColor);
  background-color: rgba(255, 255, 255, 0.459);
  border: solid 4px var(--purple);
  width: 80%;
  padding: 2rem;
  border-radius: 80px;
  font-weight: bold;
  transition: 0.5s;
}

#dailyQuiz p {
  font-size: 25px;
  font-weight: bolder;
}

footer {
  margin-top: 4rem;
  margin-bottom: 0.5rem;
}

/* RESPONSIVE DESKTOP */

@media (min-width: 768px) {
  #statsBar {
    font-size: 20px;
    padding: 1.5rem;
  }

  #title {
    padding: 2.5rem;
    width: 30%;
  }

  #title h1 {
    font-size: 30px;
  }

  .gameCard {
    font-size: 22px;
    padding: 3.5rem;
    width: 20rem;
  }

  #gamesList {
    width: 6rem;
  }

  .gameCard:hover {
    cursor: pointer;
    background-color: var(--cardHover);
    box-shadow: 5px 5px 20px 3px rgba(94, 96, 206, 0.29);
  }

  #dailyQuiz {
    font-size: 22px;
    width: 25%;
    padding: 3rem;
  }

  #dailyQuiz:hover {
    cursor: pointer;
    background-color: var(--purple);
    color: white;
    box-shadow: 5px 5px 20px 3px rgba(94, 96, 206, 0.29);
  }
  #dailyQuiz:hover p {
    color: white;
  }
}
