* {
  margin: 0;
  box-sizing: border-box;
}

#game {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.interface {
  background-color: white;
  width: 85%;
  padding: 1rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border-radius: 15px;
}

#answerList {
  display: flex;
  flex-direction: column;
}

#answerList button {
  color: var(--titlesColor);
  background-color: rgba(255, 255, 255, 0.459);
  border: solid 4px var(--purple);
  padding: 1rem;
  width: 7rem;
  margin: 1rem;
  border-radius: 15px;
  font-weight: bold;
  font-size: 15px;
  transition: 0.5s;
  cursor: pointer;
}

#equationTitle {
  color: var(--titlesColor);
  background-color: rgba(255, 255, 255, 0.459);
  border: solid 4px var(--purple);
  width: 85%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1.1rem;
  border-radius: 40px;
  margin-top: 1rem;
  text-align: center;
}

#equation {
  background-color: var(--purple);
  color: white;
  font-size: 20px;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 3rem;
  padding-right: 3rem;
  border-radius: 1rem;
}

#score {
  font-size: 19px;
}

@keyframes pulseGreen {
  0% {
    background-color: #28b42c;
  }
  25% {
    background-color: #28be2d;
  }
  50% {
    background-color: #30c735;
  }
  100% {
    background-color: #2dc232;
  }
}

@keyframes pulseRed {
  0% {
    background-color: #d62316;
  }
  25% {
    background-color: #e63124;
  }
  50% {
    background-color: #f13023;
  }
  100% {
    background-color: #f52516;
  }
}

.correct {
  animation: pulseGreen 0.8s ease-in-out;
}

.wrong {
  animation: pulseRed 0.8s ease-in-out;
}

@media (min-width: 768px) {
  .interface {
    width: 50%;
    padding: 4rem 0rem;
  }

  #answerList {
    flex-direction: row;
  }

  #answerList button:hover {
    cursor: pointer;
    background-color: var(--purple);
    box-shadow: 5px 5px 20px 3px rgba(94, 96, 206, 0.29);
    color: white;
  }

  #equationTitle {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    width: 60%;
    font-size: 1.5rem;
  }

  #equation {
    margin-top: 1rem;
  }

  #score {
    font-size: 20px;
  }
}
