* {
  margin: 0;
  box-sizing: border-box;
}

#game {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.interface {
  width: 85%;
  padding: 1rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border-radius: 15px;
}

#answerList {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#answerList button {
  font-size: 1.5rem;
  padding: 1rem 2rem;
  background-color: #4059ad;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;
}

#equationTitle {
  color: #4059ad;
  width: 85%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1.1rem;
  border-radius: 40px;
  margin-top: 1rem;
  text-align: center;
}

#equation {
  font-size: 2rem;
  margin: 0 0.5rem;
  padding: 10px 15px;
  background: linear-gradient(135deg, #f8d7ff, #b2f0ff);
  border: 3px solid #4059ad;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition:
    transform 0.3s ease,
    background-color 0.3s ease;
}

#score {
  font-size: 19px;
}

@keyframes pulseGreen {
  0% {
    background: #28b42c;
    color: white;
  }
  25% {
    background: #28be2d;
    color: white;
  }
  50% {
    background: #30c735;
    color: white;
  }
  100% {
    background: #2dc232;
    color: white;
  }
}

@keyframes pulseRed {
  0% {
    background: #d62316;
    color: white;
  }
  25% {
    background: #e63124;
    color: white;
  }
  50% {
    background: #f13023;
    color: white;
  }
  100% {
    background: #f52516;
    color: white;
  }
}

.correct {
  animation: pulseGreen 0.8s ease-in-out;
}

.wrong {
  animation: pulseRed 0.8s ease-in-out;
}

@media (min-width: 768px) {
  .interface {
    width: 50%;
    padding: 4rem 0rem;
  }

  #answerList {
    flex-direction: row;
  }

  #answerList button:hover {
    cursor: pointer;
    background-color: var(--purple);
    box-shadow: 5px 5px 20px 3px rgba(94, 96, 206, 0.29);
    color: white;
  }

  #equationTitle {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    width: 60%;
    font-size: 2.5rem;
    font-weight: bold;
  }

  #equation {
    margin-top: 1rem;
  }

  #score {
    font-size: 20px;
  }
}
