/* Conteneur principal */
.car-game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  text-align: center;
}

/* Écran de fin de jeu */
.car-game-container--end {
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 40px;
  max-width: 600px;
  margin: 0 auto;
}

/* Boutons */
.car-game-button {
  background-color: #4059ad;
  color: white;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.car-game-button:hover {
  background-color: #2c3e75;
}

/* Vies */
.car-game-lives {
  margin-bottom: 20px;
}

.car-game-heart {
  font-size: 1.5rem;
  margin: 0 5px;
}

.answers button:hover {
  color: white;
}

.car-game-container h1 {
  font-size: 1.1rem;
  color: #4059ad;
  text-align: center;
}

.car-game-container h1 p {
  font-size: 1rem;
  color: #4059ad;
  text-align: center;
}

/* Question */
.car-game-question {
  margin-bottom: 20px;
}

.car-game-question-image {
  max-width: 90%;
  height: auto;
  margin-top: 10px;
}

/* Réponses */
.car-game-answers {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
  margin-bottom: 20px;
}

.car-game-answer {
  background-color: #4059ad;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.car-game-answer:hover {
  background-color: #2c3e75;
}

.car-game-answer--correct {
  background-color: green;
}

.car-game-answer--wrong {
  background-color: red;
}

/* Score */
.car-game-score {
  background-color: var(--purple);
  font-family: "Fredoka", "Arial", sans-serif;
  font-size: 20px;
  padding: 0.8rem;
  text-align: center;
  width: 13%;
  margin: auto;
  border-radius: 10px;
  border: 2px solid var(--purple);
  color: white;
  transition: transform 0.3s ease;
  transition: box-shadow 0.3s ease;
  transition: background-color 0.3s ease;
}

/* Responsive Design */
@media (max-width: 768px) {
  .car-game-container {
    padding: 1px;
  }
  .car-game-answers {
    grid-template-columns: repeat(2, 1fr);
  }

  .car-game-question-image {
    width: 50%;
  }

  .car-game-score {
    width: 30%;
    font-size: 19px;
  }

  h1 {
    font-size: 0.4rem;
    color: #4059ad;
    text-align: center;
  }

  .car-game-lives {
    font-size: 0.1rem;
  }

  .car-game-container h1 {
    font-size: 1.4rem;
    color: #4059ad;
    text-align: center;
  }

  .car-game-question {
    margin-bottom: 1px;
  }
}
