/* partie choix et selection avatar */
body {
  background: linear-gradient(135deg, #f8d7ff, #b2f0ff);
}

.pagetotale {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.pagetotale h2 {
  font-family: "Fredoka", serif;
  color: #5e60ce;
  font-size: 40px;
  align-items: center;
}

.caroussel {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  background-color: rgba(255, 255, 255, 0.459);
  border-radius: 40px;
  border: solid 3px var(--purple);
  text-align: center;
  width: 80%;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-items: center;
  font-family: "Fredoka", serif;
  color: #5e60ce;
  overflow: hidden;
  position: relative;
}

.caroussel-images {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease-in-out;
  gap: 10px;
  margin-bottom: 50px;
}

.animal {
  width: 120px;
  height: 160px;
  object-fit: contain;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.animal.active {
  width: 180px;
  height: 240px;
  transform: scale(1.2);
  opacity: 1;
  z-index: 1;
}

.animal.inactive {
  width: 120px;
  height: 160px;
  opacity: 0.5;
  transform: scale(0.8);
}

.button-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.prev-button,
.next-button {
  background-color: #5e60ce;
  border-radius: 30px;
  font-family: "Fredoka", serif;
  color: white;
  cursor: pointer;
  font-size: 17px;
  padding: 15px 20px;
  transition: all 0.2s ease-in-out;
}

@media (min-width: 768px) {
  .questions-creation p {
    font-size: 22px;
  }

  .pagetotal h2 {
    font-size: 50px;
  }

  .questions-creation {
    margin: 0 auto;
    width: 45%;
  }

  .animal {
    width: 150px;
  }

  .caroussel {
    width: 50%;
    margin-bottom: 50px;
  }

  .caroussel-images {
    padding-bottom: 1px;
  }
}
