* {
  margin: 0;
  box-sizing: border-box;
}

#root {
  --purple: #5e60ce;
  --cardHover: #7476df;
  --titlesColor: #5e60ce;
  --wrong: #ee6e6e;
  --correct: #46b446;
}

body {
  margin: 0;
  background: linear-gradient(135deg, #f8d7ff, #b2f0ff);
  color: #333;
  height: 100vh;
}

h1 {
  font-family: "Poppins", "Arial", sans-serif;
}

p {
  font-family: "Fredoka", "Arial", sans-serif;
}

#statsBar {
  display: flex;
  justify-content: space-around;
  color: white;
  background-color: var(--purple);
  padding: 1.5rem;
  font-weight: bold;
}

#title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 3.5rem;
  margin-left: auto;
  margin-right: auto;
  color: #5e60ce;
  background-color: rgba(255, 255, 255, 0.459);
  border-radius: 40px;
  border: solid 3px var(--purple);
  font-size: 22px;
  width: 90%;
  padding: 1.5rem;
}

#title h1 {
  font-size: 35px;
}

#gamesList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.gameCard {
  background-color: var(--purple);
  font-size: 20px;
  color: white;
  padding: 2rem;
  width: 70%;
  text-align: center;
  border-radius: 20px;
  font-weight: bolder;
  transition: 0.5s;
  border: solid 2px var(--purple);
}

#dailyQuiz {
  display: flex;
  margin-top: 2rem;
  flex-direction: column;
  align-items: center;
  color: var(--titlesColor);
  background-color: rgba(255, 255, 255, 0.459);
  border: solid 4px var(--purple);
  width: 80%;
  padding: 2rem;
  border-radius: 80px;
  font-weight: bold;
  transition: 0.5s;
}

#dailyQuiz p {
  font-size: 25px;
  font-weight: bolder;
}

/* RESPONSIVE DESKTOP */

@media (min-width: 768px) {
  #statsBar {
    font-size: 20px;
    padding: 1.5rem;
  }

  #title {
    padding: 2.5rem;
    width: 40%;
  }

  #title h1 {
    font-size: 50px;
  }

  .gameCard {
    font-size: 22px;
    padding: 3.5rem;
    width: 30%;
  }

  .gameCard:hover {
    cursor: pointer;
    background-color: var(--cardHover);
    box-shadow: 5px 5px 20px 3px rgba(94, 96, 206, 0.29);
  }

  #dailyQuiz {
    font-size: 22px;
    width: 35%;
    padding: 3rem;
  }

  #dailyQuiz:hover {
    cursor: pointer;
    background-color: var(--purple);
    color: white;
    box-shadow: 5px 5px 20px 3px rgba(94, 96, 206, 0.29);
  }
}
